* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  background-color: whitesmoke;
  overflow: hidden;
  margin: 0 auto;
  height: 100vh;
  color: rgb(59, 114, 139);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.reveal-again {
  height: 40vmin;
  pointer-events: none;
}

.slide-around {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 1 0.8s ease-in;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .reveal-again {
    animation: reveal-again 1 0.8s ease-in;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .slide-around {
    animation: reveal-again infinite 3.8s ease-in;
  }
}

.App-header {
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 8vmin);
  /* color: linear-gradient(180deg, red, yellow); */
  font-family: Bookman old-style;
  letter-spacing: 0.8rem;
  font-weight: bold;
  width: fit-content;
  margin: auto;
  margin-top: 10px;
  border: solid 2px transparent;
  border-radius: 40px;
  padding: 0;
}

.header-text {
  font-size: 80px;
  background: -webkit-linear-gradient(#eee, rgb(59, 114, 139));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto;
  padding: auto;
  /* transform: scale(1.3, 1.2); */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes reveal-again {
  0% {
    transform: scale(0);
    transform: rotateY(0);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    transform: rotateY(720);
    opacity: 1;
  }
}

@keyframes slide-around {
  0% {
    margin-left: 100%;
    width: 300%;
    transform: rotate3d(0, 0, 0);
  }

  25% {
    margin-left: 0%;
    width: 100%;
  }

  50% {
    margin-top: 80%;
    margin-right: 80%;
    width: 100%;
  }

  75% {
    margin-left: 0%;
    width: 100%;
    transform: rotate3d(2, 2, 2, -2turn);
  }

  80% {
    margin-right: 80%;
    margin-top: 0%;
    margin-bottom: 80%;
    width: 100%;
  }
}

form {
  margin: 2rem;
  margin-bottom: 0.8rem;
}

input {
  padding: 0.3rem;
  text-align: center;
  border: solid 2px rgb(59, 114, 139);
  border-radius: 25px;
  margin: 0;
}

input:focus {
  outline: none;
}

.list-parent {
  border: solid 2px rgb(59, 114, 139);
  border-radius: 25px;
  width: 45vw;
  height: 54vh;
  margin: 1vh auto;
  padding: 4vh;
  padding-bottom: 4.4vh;
  margin-top: 1vh;
  text-align: center;
  background-color: whitesmoke;
}

.list-div {
  max-height: 54vh;
  overflow-y: auto;
  text-align: center;
  font-size: 2rem;
}

.delete-message {
  color: rgb(94, 130, 146);
  font-style: italic;
  padding: 8px;
}

.reveal-parent {
  border: solid 2px rgb(59, 114, 139);
  border-radius: 25px;
  width: 45vw;
  height: 54vh;
  margin: 5vh auto;
  padding: 4vh;
  margin-top: 1vh;
}

.reveal-div {
  height: 54vh;
  overflow: auto;
  width: 44vw;
  text-align: center;
  margin: auto;
  vertical-align: center;
  padding: auto;
  flex: 1;
  align-items: center;
  justify-content: center;
}

h3 {
  color: rgb(59, 114, 139);
}

.item-holder {
  /* line-height: 0; */
  margin-bottom: 0.43rem;
  margin-top: 0.4rem;
  text-align: left;
  width: 90%;
  background-color: white;
  font-size: 2vw;
  border: solid rgb(59, 114, 139) 0.14px;
  border-radius: 10px;
  vertical-align: center;
  padding: 5px 30px;
  min-height: 3rem;
  box-shadow: 2px 2px 4px dimgray;
}

.item-holder:hover {
  box-shadow: 5px 5px 5px rgb(105, 104, 104);
  transform: scale(1.02);
  transition: transform 0.28s;
  transition: box-shadow 0.4s;
  border-width: 1.4px;
}

.button-style {
  padding: 6px 10px;
  border-radius: 50px;
  background-color: rgb(59, 114, 139);
  margin: 2px 5px;
  border: none;
  color: whitesmoke;
}

.reveal-holder {
  vertical-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  align-self: center;
}

@media screen and (max-width: 750px) {
  .item-holder {
    font-size: 3vw;
  }

  .list-div,
  .reveal-div {
    max-height: 35vh;
  }

  .list-parent,
  .reveal-parent {
    max-height: 40vh;
  }
}

@media screen and (max-width: 600px) {
  .item-holder {
    font-size: 2.8vw;
  }
}

@media screen and (max-width: 500px) {
  .item-holder {
    font-size: 4vw;
  }

  input {
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 400px) {
  .item-holder {
    font-size: 3vw;
  }

  .list-div,
  .reveal-div {
    max-height: 30vh;
  }

  .list-parent,
  .reveal-parent {
    max-height: 35vh;
  }
}
